{#{% extends "index.html" %}#}
{#{% block content %}#}
{#    <table class="table table-striped">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <th>Description</th>#}
{#                <th>Price</th>#}
{#                <th>Purchase</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{##}
{##}
{#            {% for product in products %}#}
{##}
{##}
{##}
{#                    <div class="col-sm-4">#}
{#                    <img height="300" width="300" src="/media/{{ product.image }}">#}
{#                        <ul>#}
{#                            <li>{{ product.name }}</li>#}
{#                            <li>{{ product.description }}</li>#}
{#                            <li>Price ${{ product.price }}</li>#}
{#                            <li></li>#}
{#                        </ul>#}
{##}
{##}
{##}
{#                    </div>#}
{##}
{##}
{#                <tr>#}
{#               #}
{##}
{#                </tr>#}
{##}
{#                <tr>{{ product.name }}</tr>#}
{#                <tr>{{ product.description }}</tr>#}
{#                <tr>€{{ product.price }}</tr>#}
{#                <tr>{{ product.paypal_form.sandbox }}</tr>#}
{##}
{#            {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
{#{% endblock %}#}