{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Fitness</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->
	<link rel="icon" type="image/png" href="{% static 'images/favicon.jpg' %}" />
		
	<!-- CSS Files -->

	<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
	<link rel="stylesheet" href="{% static 'css/player/YTPlayer.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/pro-bars.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>



	<!-- End CSS Files -->
    <style>

        .gray1 {
            color: #ffcb00;
        }

        .colored {
            color: #27cd00;;
        }
        #logo1{
            background-color: #27cd00;
            border-radius: 50px;

        }

        #block{
            border:1px solid black;
            background-color: black;
            opacity: .7;
            border-radius: 15px;

        }


    </style>


</head>

<body>

	<!-- Navigation -->
	<section id="navigation" class="dark-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo fancy">
				<a href="#" id="logo-text" class="scroll logo">Fitness Equipments
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
		    <div class="nav-menu">
				<ul class="nav uppercase">
					<li><a href="{% url 'index' %}" class="scroll">Home</a></li>
					<li><a href="/blog/" class="scroll">Blog</a></li>
                    <li><a href="/products/">Products</a></li>
                    <li><a href="/contact/" class="scroll">Contact us</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" >Log Out</a></li>
                    {% else %}

					<li><a href="{% url 'register' %}" >Register</a></li>
					<li><a href="{% url 'login' %}" >Log In</a></li>
                    {%  endif %}

				</ul>
		  </div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->


	<!-- Home Section -->
	<section id="home" class="relative"> 	
		<div id="slides">
			<div class="slides-container relative">
				<!-- Slider Images -->
				<div class="image2"></div>
                <div class="image1"></div>
				<div class="image3"></div>
                <div class="image4"></div>
				 <!-- End Slider Images -->	 
			</div>
			<!-- Slider Controls -->
			<nav style="color: black"   class="slides-navigation">
			  <a href="#" class="next"></a>
			  <a href="#" class="prev"></a>
			</nav>
		</div><!-- End Home Slides -->
		<div class="v2 absolute">
			<!-- Auto Typocraphic Texts -->
			<div class="typographic" id="block">
            	<!-- Your Logo -->
				<div class="logo">
					<img id="logo1"  src="{% static 'images/logo-icon.png' %}" width="200" alt="Logo"  />
				</div>
				<h2 class=" condensed uppercase no-padding no-margin bold gray1">Introducing</h2>
				<h2 class=" condensed uppercase no-padding no-margin bold colored">Fitness Passion</h2>



			</div><!--End Auto Typocraphic Texts -->


		</div><!-- End V2 area -->

	</section><!-- End Home Section -->











	
	<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr-latest.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.superslides.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.slabtext.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
	<script>

        $("a.about-icon").hover(function () {
            $(this).children("i").addClass("fa-spin");
        }, function () {
            $(this).children("i").removeClass("fa-spin");
        });



</script>


</body>

</html>